* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    height: 100%;
}

.link {
    text-decoration: none;
}

.link.link-primary {
    color: #eb5424;
}

.link.link-secondary {
    color: rgba(0,0,0,.54);
}

.link.link-tertiary {
    color: rgba(0,0,0,0.32);
}

.btn {
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}

.btn.btn-primary {
    background-color: #eb5424;
    color: white;
    text-transform: uppercase;
}

.btn.btn-secondary {
    background-color: rgba(0,0,0,.20);
    color: black;
    text-transform: uppercase;
}

.btn.btn-disabled {
    background-color: rgba(0,0,0,.12);
    color: rgba(0,0,0,.32);
}

.button-group .btn.btn-primary {
    margin-left: 15px;
}

html {
    height: 100%;
}

select {
    background: white;
    height: 35px;
    border: 1px solid rgba(0,0,0,.12);
}

body {
    font-family: "Source Sans Pro";
    -moz-osx-font-smoothing:  grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    height: 100%;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 1rem;
    line-height: 1.5em;

    border-bottom: 1px solid rgba(0,0,0,.12);
}

.header #logo {
    padding: 15px;
    color: #eb5424;
}

.header .menu {
    text-align: center;
}

.header ul.header-links {
    list-style-type: none;
    letter-spacing: 0.04em;
}

.header ul.header-links li.header-link {
    display: inline-flex;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    color: #777;
}

.header ul.header-links li.header-link.active {
    color: #eb5424;
    border-bottom: 2px solid #eb5424;
}

.header .user-profile-and-signout {
    display: flex;
    padding: 15px;
}

.header .user-profile-and-signout .user-profile {
    display: flex;
    margin-right: 0.5rem;
}

.header .user-profile-and-signout .user-profile .user-name {
    margin-right: 5px;
    font-size: 1rem;
    line-height: 1.5em;
}

.header .user-profile-and-signout .user-profile .user-image {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.header .user-profile-and-signout .link-secondary {
    font-size: 1rem;
    line-height: 1.5em;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: #f9f9f9;
    color: #777;
    height: 100%;
}
/* MAIN END */

/* NEW TIMER */
.new-timer {
    position: relative;
    align-self: center;
}

.new-timer label{
    font-size: 1rem;
    line-height: 1.5em;
    color: #4A4A4A;
    font-weight: bold;
}

.new-timer input {
    outline: none;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 4px;

    padding: 5px 10px;
    margin-right: 20px;
    margin-left: 5px;
}

.new-timer .btn.btn-primary {
    border: 1px solid #eb5424;
    border-radius: 4px;
}
/* NEW TIMER END*/

/* NEW TIMER POPUP */
.new-timer-popup {
    position: absolute;
    top: 40px;
    right: 0;

    background: white;
    box-shadow: 0 0 16px rgba(0,0,0,.12);
    border-radius: 4px;

    padding: 30px;
    text-align: right;

    width: 400px;
}

.new-timer-popup select.project-dropdown {
    outline: none;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 4px;

    width: 100%;
    padding: 10px;
}

.new-timer-popup textarea.project-notes {
    width: 100%;
    min-height: 80px;
    padding: 10px;

    border: 1px solid rgba(0,0,0,.12);
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* NEW TIMER POPUP END */

/* TIMER */
.timers {
    margin-top: 60px;
}

.timers h3 {
    color: #4A4A4A;
}

.timers table {
    border: none;
    margin-top: 20px;
}
/* TIMER END */

.splash-screen {
    text-align: center;
    padding-top: 16em;
}

.splash-screen-title {
    font-size: 5em;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.ttbutton {
    background-color: #eb5424;
    color: #fff;
    text-transform: uppercase;
}

legend {
    display: block;
    width: 100%;
    padding: .3em 0;
    margin-bottom: .3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.sign-in {
    width: 10em;
    border: 0;
}

img.google-sign-in {
    content:url("../images/btn_google_signin_light_normal_web@2x.png");
    width: 12em;
}

.custom-wrapper {
    margin-bottom: 1em;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

table {
    width: 100%;
}

th {
    border: none;
}

td {
    height: 3em;
    border: none;
}

.time-col {
    text-align: center;
}

.time-display {
    font-size: 1.3em;
    font-weight: bold
}

.empty-list-placeholder {
    margin-top: 20px;
}

td.timer-column {
    border: none;
    height: 6em;
}

.timer-project {
    font-size: 1.1em;
    font-weight: bold;
}

.timer-notes {
    font-size: 0.9em;
    margin-top: 6px;
}

.about {
    margin-top: 10em;
    text-align: center;
}

.create-client-form {
    margin: 0 auto;
    margin-top: 100px;
    width: 700px;
}

.create-client-form div {
    margin-bottom: 1.5em;
}

.ccinput {
    width: 100%;
    border: 1px solid rgba(0,0,0,.12);
    height: 30px;
}

.cctextarea {
    width: 100%;
    height: 100px;
    border: 1px solid rgba(0,0,0,.12);
}

.cclabel {
    color: #777;
    font-weight: bold;
}

.user-profile-link {
    text-decoration: none;
    color: inherit;
}

.user-profile-link a:hover {
    background: grey;
}

.menu-arrow {
    font-size: 18px;
}

.user-menu-header {
    padding: 10px 20px;
}

.user-menu-links {
    background: white;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0,0,0,.12);
    position: absolute;
    top: 40px;
    right: 15px;
    left: auto;
    width: 180px;
    z-index: 1;
    list-style: none;
}

.user-menu-links a {
    text-decoration: none;
    color: inherit;
}

.user-menu-link {
    padding: 10px 20px;
}

li.user-menu-link:hover {
    background: rgba(0,0,0,.12);
}

.user-menu-link a {
    text-decoration: none;
    color: inherit;
}

.user-menu-username {
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

.dropdown-divider {
    height: 1px;
    /* margin: 8px 1px; */
    background-color: #e1e4e8;
}

.poc-parent {
    margin-top: 3em;
}

.poc-input {
    margin-right: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-image: initial;
    height: 30px;
}

.success-msg {
    background-color: #5eb95e;
    color: white;
    font-weight: bold;
    height: 40px;
    padding: 8px;
    margin-top: 30px;
}

.error-msg {
    background-color: #ec4b53;
    color: white;
    font-weight: bold;
    height: 40px;
    padding: 8px;
    margin-top: 30px;
}

.panel {
    height: 100%;
    margin: 5em auto;
    width: 800px;
}

.panel button {
    margin-bottom: 1em;
}

.re-frame-datatable {
    width: 100%;
    background: #FFF;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: none;
    text-align: left;
    color: rgba(0,0,0,.87);
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.9em;
}

.re-frame-datatable thead th {
    background: #F9FAFB;
    color: rgba(0,0,0,.87);
    padding: 1em 1em;
}

.re-frame-datatable td {
    padding: 1em 1em;
    line-height: 1.5em;
    border-top: 1px solid rgba(34,36,38,.1);
}

.re-frame-datatable tr td:first-child + td {
    width: 25%;
}

.re-frame-datatable tr td:first-child + td + td{
    width: 30%;
}
